@use '../../root' as *;

header {
	display: flex;
	justify-content: center;
	align-items: center;

	position: sticky;
	top: 0;

	padding: 1em var(--margin);

	background-color: var(--bg);
	box-shadow: var(--shadow-sm);

	nav {
		.logo {
			display: none;

			svg {
				height: 2.7em; // always the same height regardless of screen size
				width: auto;

				fill: var(--text-muted);
				transition: var(--trans-speed);

				&:hover {
					cursor: pointer;
					fill: var(--text);
				}
			}

			@media only screen and (min-width: $md) {
				display: inline-block;
			}
		}

		ul {
			gap: 1em;

			@media only screen and (min-width: $sm) {
				gap: 2em;
			}

			.header-link {
				text-decoration: none;
				color: var(--text-muted);
				text-align: center;
				transition: var(--trans-speed);

				&.active,
				&:hover {
					color: var(--text);

					.menu-text {
						display: inline;
					}
				}

				&:hover {
					cursor: pointer;
				}

				&.contact {
					@media only screen and (min-width: $xs) {
						display: none;
					}
				}

				.menu-text {
					order: 1;
					font-size: var(--size-sm);
					text-align: center;
					display: none;

					@media only screen and (min-width: $xs) {
						font-size: unset;
					}

					@media only screen and (min-width: $sm) {
						display: inline;
					}
				}

				.material-icon {
					display: inline;

					@media only screen and (min-width: $sm) {
						display: none;
					}
				}
			}
		}

		.btn-primary {
			text-transform: uppercase;
			display: none;
			text-align: center;

			@media only screen and (min-width: $xs) {
				display: inline-block;
			}
		}
	}
}
