@use '../root' as *;

.btn-primary {
	display: block;

	border-radius: var(--border-rad);

	box-shadow: var(--shadow-sm);

	padding: 0.5em 1em;

	font-family: var(--font-h);
	font-size: var(--size-h5);
	color: var(--bg);

	background-color: var(--primary);

	transition: var(--trans-speed);

	&:hover {
		box-shadow: var(--shadow-lg);

		background-color: var(--primary-dark);

		cursor: pointer;
	}
}

.btn-secondary {
	display: block;

	border-radius: var(--border-rad);

	padding: 0.5em 1em;

	font-family: var(--font-h);
	font-size: var(--size-h5);
	color: var(--bg);

	background-color: var(--secondary);

	transition: var(--trans-speed);

	&:hover {
		cursor: pointer;

		background-color: var(--secondary-light);
	}
}

.btn-tertiary {
	display: block;

	border: 4px solid var(--secondary);
	border-radius: var(--border-rad);

	padding: 0.5em 1em;

	font-family: var(--font-h);
	font-size: var(--size-h5);
	color: var(--text);

	transition: var(--trans-speed);

	&:hover {
		background-color: var(--secondary-light);

		cursor: pointer;
	}
}

.no-btn {
	border: none;

	background: none;

	transition: var(--trans-speed);

	&:hover {
		font-weight: bold;

		cursor: pointer;
	}
}
