@use '../root' as *;

.card {
	box-shadow: var(--shadow-sm);

	background-color: var(--bg);

	transition: var(--trans-speed);

	> img {
		height: 16em;

		object-fit: cover;
	}
}

a.card:hover {
	box-shadow: var(--shadow-md);

	background-color: var(--bg-light);

	cursor: pointer;
}
