@use '../root' as *;

.card {
	min-width: 16em;

	background-color: var(--bg);

	box-shadow: var(--shadow-sm);
	transition: var(--trans-speed);

	&:hover {
		background-color: var(--bg-light);
		box-shadow: var(--shadow-md);
	}

	> img {
		height: 16em;
		object-fit: cover;
	}
}
