@use '../root' as *;

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-dark);
}

.max-width {
	max-width: var(--max-width-xs);

	@media only screen and (min-width: $sm) {
		max-width: var(--max-width-sm);
	}

	@media only screen and (min-width: $md) {
		max-width: var(--max-width-md);
	}

	@media only screen and (min-width: $lg) {
		max-width: var(--max-width-lg);
	}

	@media only screen and (min-width: $xl) {
		max-width: var(--max-width-xl);
	}
}
