@use '../root' as *;

.swiper {
	width: 100%;
	overflow: visible;

	&.partners {
		mask-image: linear-gradient(
			to right,
			transparent 0%,
			var(--bg-light) 10%,
			var(--bg-light) 90%,
			transparent 100%
		);
	}

	.swiper-wrapper {
		align-items: stretch;
		gap: 1em;

		&.partners {
			justify-content: center;
			transition-timing-function: linear;
		}

		.swiper-slide {
			display: flex;
			height: auto;

			&.partners {
				width: fit-content;
			}

			@media only screen and (min-width: $md) {
				width: 21.5em;
			}
		}
	}
}

.swiper-pagination {
	position: relative;

	.swiper-pagination-bullet {
		--size: 0.75em;
		opacity: 0.75;
		width: var(--size);
		height: var(--size);

		&.swiper-pagination-bullet-active {
			background-color: var(--primary);
		}
	}
}
