
<section id='reviews' class='max-width page-p d-flex flex-col my-2 gap-1 center'>
	<h2>{{t 'pages.index.reviews.heading'}}</h2>
	<div class='d-grid fr-3 gap-1 w-100'>
		{{#each reviews.highlighted_3}}
		{{#with (lookup ../reviews.cards this)}}
		{{> review}}
		{{/with}}
		{{/each}}
	</div>
</section>
<section id='projects' class='max-width page-p d-flex flex-col my-2 gap-1 center'>
	<h2>{{t 'pages.index.projects.heading'}}</h2>
	<div class='d-grid fr-3 gap-1 w-100'>
		{{#each projects.highlighted_3}}
		{{#with (lookup ../projects.cards this)}}
		{{> project}}
		{{/with}}
		{{/each}}
	</div>
</section>
