<article id="page-projects" class="w-100 d-flex flex-col center">
	<section class="max-width page-p d-flex flex-col my-2 gap-1 center">
		<h1>Ludography</h1>
	</section>

	<section class="max-width page-p d-flex my-2 gap-1 justify-center flex-wrap">
		{{#each projects.cards}} {{> project}} {{/each}}
	</section>
</article>
