@use '../../root' as *;

#method {
	h3,
	h4 {
		color: var(--primary);
		text-align: center;
	}

	h1,
	p {
		text-align: center;
	}

	section .intro {
		display: grid;
		grid-template-columns: repeat(var(--col), 1fr);
		gap: var(--gutter);
		align-items: stretch;

		& > div:first-of-type {
			grid-column: 1 / span var(--col);
			grid-row: 2;
			@media only screen and (min-width: $sm) {
				grid-column: 1 / span calc(var(--col) / 2);
				grid-row: 1;
			}
			@media only screen and (min-width: $lg) {
				grid-column: 1 / span calc((var(--col) / 2) - 1);
			}
		}

		& > div:last-of-type {
			position: relative;
			grid-column: 1 / span var(--col);
			height: 8em;
			@media only screen and (min-width: $sm) {
				height: unset;
				grid-column: calc((var(--col) / 2) + 1) / span var(--col);
			}
			@media only screen and (min-width: $lg) {
				grid-column: calc(var(--col) / 2) / span var(--col);
			}

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	section:last-of-type {
		--step-count: 5;
		display: grid;
		gap: var(--gutter) var(--gutter);
		grid-template-columns: repeat(var(--col), 1fr);
		grid-template-rows: auto auto auto;
		justify-content: center;

		.row-1,
		.row-2,
		.row-3 {
			grid-column: 1 / span var(--col);

			@media only screen and (min-width: $md) {
				grid-column: 1 / span calc(var(--col) / 2);
			}
		}

		.row-1 {
			&.step-1 {
				grid-row: 2;

				@media only screen and (min-width: $md) {
					grid-row: 1;
				}

				@media only screen and (min-width: $lg) {
					grid-column: 1 / span calc(var(--col));

					div {
						width: calc(100% / (var(--col) / 3));
					}
				}
			}
		}

		.row-2 {
			&.title {
				margin-bottom: var(--gutter);

				@media only screen and (min-width: $md) {
					margin-bottom: unset;
					grid-column: calc(var(--col) / 2 + 1) / span calc(var(--col) / 2);
					grid-row: 1 / span var(--step-count);
				}

				@media only screen and (min-width: $lg) {
					grid-column: calc(1 + 1 + (var(--col) / 4)) / span
						calc(var(--col) / 3);
					grid-row: 2;
				}

				div {
					aspect-ratio: 1 / 1;
					padding: 1.5em;
					background-image: url('../../../../src/img/cycle.svg');
					background-size: contain;
					background-repeat: no-repeat;

					width: calc(100% / (var(--col) / 2));
					@media only screen and (min-width: $md) {
						width: unset;
					}
				}
			}

			&.step-2 {
				grid-row: 3;

				@media only screen and (min-width: $md) {
					grid-row: 2;
				}

				@media only screen and (min-width: $lg) {
					grid-column: 2 / span calc(var(--col) / 4);
				}
			}

			&.step-3 {
				grid-row: 4;

				@media only screen and (min-width: $md) {
					grid-row: 3;
				}

				@media only screen and (min-width: $lg) {
					grid-column: calc(1 + 1 + (var(--col) / 4) + (var(--col) / 3)) / span
						calc(var(--col) / 4);
					grid-row: 2;
				}
			}
		}

		.row-3 {
			&.step-4 {
				grid-row: 5;

				@media only screen and (min-width: $md) {
					grid-row: 4;
				}

				@media only screen and (min-width: $lg) {
					grid-column: 3 / span calc(var(--col) / 4);
					grid-row: 3;
				}
			}

			&.step-5 {
				grid-row: 6;

				@media only screen and (min-width: $md) {
					grid-row: 5;
				}

				@media only screen and (min-width: $lg) {
					grid-column: calc(var(--col) - var(--col) / 4 - 1) / span
						calc(var(--col) / 4);
					grid-row: 3;
				}
			}
		}
	}
}
